html, 
body {
	font-family:'Edu VIC WA NT Beginner', cursive, sans-serif;
 	margin: 0;
  	height: 100%;
  	width: 100%;
}

main {
  height: 100%;
  width: 100%;
}

section {
	height: 100%;
	width: 100%;
	font-size: 25px;
	color: white;
	background-color: #1c1d25;
  }
  .logo{
	height: 200px;
	float: left;
	position: relative;
	margin-left: 50px;
  }
nav {
    display: flex;
    justify-content: space-between;
    
}
.nav-list {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}
.nav-list1 {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
	margin-left: 826px;
}

li {
    text-decoration: none;
}
h1 {
    font-size: 60px;
    margin: 0;
}
#title-name {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
}
.hero-text {
    margin-left: 120px;
    margin-top: 150px;
}
a{
	text-decoration: none;
	color: #e84444;
}
.family-photo{  
    width: 500px;
    float: right;  
    border-radius: 270px;
    position: relative
}
p{
    padding: 20px;
}